.cell {
    width: 18px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.active {
    width: 18px;
    height: 18px;
    background-color: rgba(250, 250, 250, 0.9);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}